<aside class="w-64 min-h-full bg-gray-900 text-white p-5">

  <h2 class="text-xl font-bold mb-8">
    Menu
  </h2>

  <nav class="space-y-2">

    <!-- Dashboard -->
    <a
      routerLink="/dashboard"
      class="block px-4 py-3 rounded-lg hover:bg-gray-700"
    >
      Dashboard
    </a>


    <!-- Employees -->
    <a
      routerLink="/employee"
      class="block px-4 py-3 rounded-lg hover:bg-gray-700"
    >
      Employees
    </a>


    <!-- Departments -->
    <a
      routerLink="/department"
      class="block px-4 py-3 rounded-lg hover:bg-gray-700"
    >
      Departments
    </a>


    <!-- Roles -->
    <a
      routerLink="/role"
      class="block px-4 py-3 rounded-lg hover:bg-gray-700"
    >
      Roles
    </a>


    <!-- Users -->
    <a
      routerLink="/users"
      class="block px-4 py-3 rounded-lg hover:bg-gray-700"
    >
      Users
    </a>


    <!-- Salaries -->
    <a
      routerLink="/salaries"
      class="block px-4 py-3 rounded-lg hover:bg-gray-700"
    >
      Salaries
    </a>

  </nav>

</aside>